name: Fetch Weather Data CI

on:
  push:
    branches: [ master ]

jobs:
  fetch-weather:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: Run weather script
      run: python src/fetch_data.py
    
    - name: Upload CSV as artifact
      uses: actions/upload-artifact@v3
      with:
        name: weather-data
        path: '*.csv'